@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div>
            <a href="account/manage/">Hello, @context.User.Identity.Name!</a>
            <button class="px-4 focus:outline-none" @onclick="BeginSignOut">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <a href="account/register">Register</a>
            <button class="px-4 focus:outline-none" @onclick="BeginLogIn">Log in</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogIn(MouseEventArgs args)
    {
        Navigation.NavigateWithNewReturnUrl("/account/login");
    }

    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateWithNewReturnUrl("/account/logout");
    }
}
