<div class="flex flex-col flex-shrink-0 text-white md:w-72 md:h-screen bg-gradient-to-b-70 from-blazor-blue to-blazor-indigo">
    <div class="flex flex-row items-center justify-between px-4 text-white bg-black h-14 bg-opacity-40">
        <a href="" class="text-lg text-white">Blazor5Auth</a>
        <button class="px-2 py-1 text-white text-opacity-50 bg-white border border-white rounded md:hidden bg-opacity-10 border-opacity-10" @onclick="ToggleNavMenu">
            <svg class="fill-current h-7 w-7" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
        </button>
    </div>
    <div class="flex-grow @NavMenuCssClass md:block" @onclick="ToggleNavMenu">
        <ul class="flex flex-col p-4 space-y-2">
            <li>
                <TwNavLink href="" Match="NavLinkMatch.All">
                    <svg class="w-6 mr-3" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg> Home
                </TwNavLink>
            </li>
            <li>
                <TwNavLink href="counter">
                    <svg class="w-6 mr-3" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                    </svg> Counter
                </TwNavLink>
            </li>
            <li>
                <TwNavLink href="fetchdata">
                    <svg class="w-6 mr-3" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd" />
                    </svg> Fetch data
                </TwNavLink>
            </li>
            <li>
                <TwNavLink href="inputs">
                    <svg class="w-6 mr-3" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                    </svg> Inputs
                </TwNavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "hidden" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
