@page "/account/confirmemail"
@using Features.Base
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h1>Confirm Email</h1>

@if (!string.IsNullOrEmpty(Success))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Success
    </div>
}

@code
{
    private string Success = "";

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.TryGetQueryString<string>("userId", out var userId);
        NavigationManager.TryGetQueryString<string>("code", out var code);
        if (userId == null || code == null)
        {
            NavigationManager.NavigateTo("/");
        }

        var response = await Http.PostAsJsonAsync("api/account/confirmemail", new Features.Account.ConfirmEmail.Command { UserId = userId, Code = code });
        var result = await response.Content.ReadFromJsonAsync<BaseResult>();

        if (result.IsSuccessful)
        {
            Success = result.Message;
        }
    }
}