@page "/account/forgotpassword"
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h1>Forgot Password</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Model">
            <DataAnnotationsValidator />
            <ServerValidator @ref="serverValidator"/>
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email</label>
                <InputText Id="email" class="form-control" @bind-Value="Model.Email"/>
                <ValidationMessage For="@(() => Model.Email)"/>
            </div>
            <button type="submit" class="btn btn-primary" @onclick="SubmitForgotPassword">Submit</button>
        </EditForm>
    </div>
</div>

@code
{
    private Features.Account.ForgotPassword.Command Model = new();
    private ServerValidator serverValidator;

    private async Task SubmitForgotPassword() {
        var response = await Http.PostAsJsonAsync("api/account/forgotpassword", Model);
        var result = await response.Content.ReadFromJsonAsync<Features.Account.ForgotPassword.Result>();

        if (result.IsSuccessful)
        {
            NavigationManager.NavigateTo("/Account/ForgotPasswordConfirmation");
        }
        else
        {
            serverValidator.DisplayErrors(result.Errors);
        }

    }

}
