@page "/account/registerconfirmation"

<h1>Register confirmation</h1>
@{
    if (@DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

@code {
    private bool DisplayConfirmAccountLink { get; set;}
    private string EmailConfirmationUrl { get; set;}
}