@layout MainLayout
@inherits LayoutComponentBase

<TwHeader1>Manage your account</TwHeader1>

<TwCard Title="Change your account settings">
    <div class="flex flex-row">
        <div>
            <_ManageNav />
        </div>
        <div class="w-full pl-5 pr-10">
            @Body
        </div>
    </div>
</TwCard>
