@page "/account/manage/PersonalData/Delete"
@attribute [Authorize]

<h4>Delete Personal Data</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="password">Password</label>
            <input for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <button class="btn btn-danger" type="submit">Delete data and close my account</button>
    </form>
</div>
