@page "/account/manage/Disable2fa"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject HttpClient Http
@attribute [Authorize]

<h1>Disable two-factor authentication (2FA)</h1>


<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button @onclick="HandleDisable" class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>

@code {

    private async Task HandleDisable()
    {
        var response = await Http.PostAsJsonAsync("api/setupmfa/disable", new { });
        var result = await response.Content.ReadFromJsonAsync<VerifyMfaResult>();

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/Account/Manage/TwoFactorAuthentication");
        }
    }

}