@page "/account/manage/DisableMfa"
@attribute [Authorize]
@using Features.Base
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject HttpClient Http

<TwHeader2>Disable multi-factor authentication (MFA)</TwHeader2>

<TwAlertError>
    <p>
        <strong>This action only disables MFA.</strong>
    </p>
    <p>
        Disabling MFA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a hrefe="./ResetAuthenticator">reset your authenticator keys.</a>
    </p>
</TwAlertError>

<TwButton @onclick="HandleDisable" type="submit">Disable MFA</TwButton>

@code {

    private async Task HandleDisable()
    {
        var response = await Http.PostAsJsonAsync("api/account/manage/mfadisable", new {});
        var result = await response.Content.ReadFromJsonAsync<BaseResult>();

        if (result.IsSuccessful)
        {
            NavigationManager.NavigateTo("/Account/Manage/TwoFactorAuthentication");
        }
    }

}
