@page "/account/manage/personaldata"
@attribute [Authorize]

<TwHeader2>Personal Data</TwHeader2>

<TwSubCard Class="flex flex-col space-y-4">
    
    <div>
        Your account contains personal data that you have given us. This page allows you to download or delete that data.
    </div>
    <div class="font-bold">
        Deleting this data will permanently remove your account, and this cannot be recovered.
    </div>
    <div>
        <TwButtonLink href="/Account/Manage/PersonalData/Download">Download</TwButtonLink>
    </div>
    <div>
        <a class="px-3 py-2 mt-4 text-white rounded-md bg-gray-600" href="/Account/Manage/PersonalData/Delete">Delete</a>
    </div>
</TwSubCard>
