@page "/counter"

<h1 class="mb-2 text-4xl font-medium">Counter</h1>

<p class="mb-4">Current count: @currentCount</p>

<button class="px-3 py-2 text-white bg-blue-600 rounded-md" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
